/*Core styles*/
*{
    margin:0;
    padding:0;
    border:0;
    /*border: solid 1px black;*/
    box-sizing:border-box;
}
body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-repeat: repeat-y;
    background-image: url("../img/svg/bg-tablet-pattern.svg");
    background-position: right;
    background-color:snow;
    background-size:contain;
    text-align: center;
}

div {
    display:flex;
    justify-content:center;
}
img {
    padding:0;
    margin:0;
    width:100wh;
    height:auto;
}

h1,h2,h3,h4 {
    margin:0;
    padding:1em 0;
}

p{
    margin:0;
    padding: 1em 0;
}

button {
    display:inline-block;
    background-color:coral;
    color:mintcream;
    text-decoration:none;
    padding: 1em 2em;
    border: 1px solid coral;
    margin:0.5em 0;
    border-radius: 5em;
}

button.hover {
    background-color:navy;
    color:mintcream;
    
}

/*Containers styles*/

@media (min-width:375px){

body {
    display:flex;
    flex-direction: column;
    }

/*headers*/
header.content-nav {
    background-color: olive;
    padding:4vh;
}

.content-nav-main , .buttonup{
    display:none;
    }

/*Container1*/

main section.container1 {
    background-color: orangered;
    display:flex;
    flex-direction: column;
}
.content-main1-1images {
    width:5em;
    height:auto;
    align-self: center;
}



}

